body{
    background-color: black;
    font-size: 0.5em;
}

.global{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 600px;
}

.until_full{
    margin: 25px;
    max-width: 500px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 1em;
    background: #6b6b6b;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-family: sans-serif;
}

.until_weeks{
    margin: 25px;
    max-width: 200px;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding: 1em;
    background: #6b6b6b;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-family: sans-serif;
}

.until__component{
    text-align: center;
    background: rgb(44, 44, 44);
    border-radius: 5px;
}

.until__numeric{
    color:lightgray;
    padding: 0.5em 0;
    font-size: 3em;
    font-weight: bold;
}

.until__unit{
    font-size: 1.2em;
    padding-bottom: 1em;
    font-weight: bold;
    color:rgb(97, 114, 114);
}

.until__event{
    grid-column: span 4;
    color:lightgray;
}
